@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;700&family=Gentium+Plus:wght@400;700&family=Raleway:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --color-1: #131313;
    --color-2: #ffffff;
    --color-3:#33cccc;
    --color-4:#06d7d0;
    --color-5:#D43C3C;
    --color-6:rgba(0,0,0,.4);
    --color-7:#313131;
    --color-8:#f4f6f9;


    --font-1:'Lexend Deca', sans-serif;
    --font-2: 'Montserrat', sans-serif;
    --font-3: 'Raleway', sans-serif;
    --font-4: 'Gentium Plus', serif;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    min-height: 100vh;
}

main{
    flex: 1 1 auto;
}

header{
    top: 0;
    position: sticky;
    background-color: #b3e7e5;
    color: var(--color-1);
    width: 100%;
    font-size: 20px;
    z-index: 10000;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-1);
}
header .container .logo img{
    width: 8rem;
}
header .container .navbar{
    margin: 0 2rem;
    flex:  1 1 auto;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
header .container .navbar li{
    display: flex;
}
header .container .navbar li:not(:first-child){
    border-left: .1rem solid var(--color-4);
}
header .container .navbar li a{
    padding: .5rem 1rem;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--color-1);
    transition: all .7s ease;
    z-index: 1;
}
header .container .navbar li a:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: -100%;
    background-color: var(--color-4);
    transition: all .7s ease;
    z-index: -1;
}
header .container .navbar li a:hover:after{
    right: 0;
}
header .container .navbar li a:hover{
    color: var(--color-2);
}
header .container .headerBtn,
section.appointment .appointment__block .appointmentForm form button{
    padding: .5rem 1rem;
    border-radius: 10px;
    color: var(--color-2);
    background-color: var(--color-5);
    text-decoration: none;
    border: none;
}
header .container a.login{
    background-color: var(--color-2);
    margin-left: 1rem;
    padding: .2rem;
    border-radius: 10px ;
    text-decoration: none;
    border: none;
}
header nav form button{
    margin-left: .5rem;
    border: none;
    background: none;
    padding: 0;
    transform: scaleX(-1); 
    font-size: 1.5rem;
    transition: all .4s ease;
    color: var(--color-5);
    margin: 0 0 0 1rem;
}
header nav form button:hover{
    transform: translate(.2rem,-.2rem) scaleX(-1); 
}
header .container a.login img{
    width: 2.5rem;
}
header .container .headerBtn,
section.hello .container .infoBlock a,
section.services .container .myServices .service .service__block a,
section.services .container .myServices .service .service__block,
section.mainGallery .container a,
section.appointment .appointment__block .appointmentForm form button,
header .container a.login{
    transition: all .4s ease;
}
header .container .headerBtn:hover,
section.hello .container .infoBlock a:hover,
section.services .container .myServices .service .service__block a.main:hover,
section.appointment .appointment__block .appointmentForm form button:hover,
header .container a.login:hover,
main#admin .buttn:hover{
    transform: translate(.2rem,-.2rem);
}

section.hello{
    background-image: url("../img/hello.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
}
section.hello .container{
    padding-left: 5rem;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
section.hello .container .infoBlock{
    background-color: var(--color-6);
    padding: 3rem 1.5rem;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}
section.hello .container .infoBlock .slogan{
    font-size: 3rem;
    color: var(--color-2);
    font-family: var(--font-2);
    font-weight: 400;
    margin: 0;
}
section.hello .container .infoBlock a,
section.services .container .myServices .service .service__block a.main,
section.mainGallery .container a{
    text-decoration: none;
    color: var(--color-2);
    margin-top: 1rem;
    background-color: var(--color-5);
    padding: .5rem 2rem;
    margin-right: auto;
    font-size: 1.5rem;
}

.container .title{
    font-family: var(--font-1);
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
}

section.about .container .info{
    display: flex;
    padding: 1rem 0 0;
    align-items: center;
}
section.about .container .info .photo,
section.about .container .info .info__text{
    flex: 1;
}
section.about .container .info .photo{
    margin-right: 2rem;
    min-height: 25rem;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
section.about .container .info .photo img{
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
}
section.about .container .info .info__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.about .container .info .info__text .info__title{
    font-family: var(--font-4);
    font-size: 2.5rem;
    font-weight: 400;
}
section.about .container .info .info__text .text{
    font-size: 1.5rem;
    text-align: end;
    margin: 3rem 0 0;
    font-weight: 600;
}

section.goals{
    background-image: url("../img/blue.jpg");
    background-size: cover;
    margin-top: 3rem;
}
section.goals .container{
    display: flex;
    justify-content: center;
}
section.goals .container .goal{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
    font-family: var(--font-2);
    padding: 1rem 0;
}
section.goals .container .goal h3{
    font-size: 3rem;
    margin: 0;
}
section.goals .container .goal p{
    font-size: 2rem;
    margin: 0;
}

section.services{
    margin-bottom: 5rem;
}
section.services .container .desc{
    font-family: var(--font-2);
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding: 0 3rem;
}
section.services .container .myServices{
    display: flex;
    height: 40rem;
}
section.services .container .myServices .mainService{
    margin-right: .5rem;
    flex: 1;
}
section.services .container .myServices .service{
    height: 100%;
    position: relative;
    overflow: hidden;
}
section.services .container .myServices .service .name{
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .4s ease;
}
section.services .container .myServices .service:hover .name{
    left: -150%;
}
section.services .container .myServices .service .name p{
    margin: 0;
    font-size: 2rem;
    position: relative;
    padding: .5rem .5rem .5rem 1.5rem;
    background-color: var(--color-6);
    color: var(--color-2);
    border-left: .3rem solid var(--color-5);
    font-family: var(--font-2);
}
section.services .container .myServices .service .name p::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -4rem;
    border: 2rem solid var(--color-6);
    border-top-color: transparent;
    border-right-color: transparent;
}
section.services .container .myServices .service .service__block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(.5);
    opacity: 0;
}
section.services .container .myServices .service:hover .service__block{
    transform: scale(1);
    opacity: 1;
}
section.services .container .myServices .service .service__block a:not(:first-child){
    margin-top: 1rem;
}
section.services .container .myServices .service .service__block a:not(:last-child){
    color: var(--color-2);
    text-decoration: none;
    font-weight: 500;
}
section.services .container .myServices .service .service__block a:not(:last-child):hover{
    color: var(--color-4);
    transform: scale(1.1);
}
section.services .container .myServices .service .service__block a.main{
    margin: 2rem 0 0;
    border-radius: 10px;
}
section.services .container .myServices .service img{
    position: absolute;
    right: 0;
    width: 100%;
}
section.services .container .myServices .mainService .service{
    background-color: grey;
}
section.services .container .myServices .mainService .service img{
    width: unset;
    height: 100%;

}
section.services .container .myServices .otherServices{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: .5rem;
}

section.mainGallery {
    background-color: #dee2e6;
    padding: .1rem 0 2rem;
}
section.mainGallery .container{
    position: relative;
}
section.mainGallery .container .title{
    color: var(--color-1);
    margin: 2rem 0;
    padding: 1rem 0 0;
}
section.mainGallery .container .gallerySliderBlock{
    height: 35rem;
    display: flex;
    align-items: center;
    max-width: 64rem;
    overflow: hidden;
    margin: 0 auto;
    flex-wrap: nowrap;
    position: relative;
    margin-bottom: 2rem;
}
section.mainGallery .container .gallerySliderBlock .slide{
    width: 100%;
    height: 30rem;  
    overflow: hidden;
    position: absolute;
    left:0;
    transition: all 1s ease;
}
section.mainGallery .container .gallerySliderBlock .slide img{
    width: 30rem;
}
section.mainGallery .container .gallerySliderBlock .slide.active{
    transform: scale(1.2);
    left: 20rem;
}
section.mainGallery .container .gallerySliderBlock .slide.prev{
    left: -23rem;
}
section.mainGallery .container .gallerySliderBlock .slide.next{
    left: 56rem;
}
section.mainGallery .container .gallerySliderBlock .slide.afterPrev{
    left: -60rem;
}
section.mainGallery .container .gallerySliderBlock .slide.otherPrev{
    left: -97rem;
}
section.mainGallery .container .gallerySliderBlock .slide.afterNext{
    left: 91rem;
}
section.mainGallery .container .gallerySliderBlock .slide.otherNext{
    left: 127rem;
}
section.mainGallery .container .btns{
    position: absolute;
    left: 50%;
    width: 74rem;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%,-15%);
}
section.mainGallery .container .btns button{
    font-weight: 200;
    color: var(--color-1);
    background: none;
    font-size: 7rem;
    border: none;
    transition: all .7s ease;
}
section.mainGallery .container .btns button.prev{
    padding: .5rem 2rem .5rem 1rem;
}
section.mainGallery .container .btns button.next{
    padding: .5rem 1rem .5rem 2rem;
}
section.mainGallery .container .btns button.prev:hover{
    transform: translate(-1rem,0);   
}
section.mainGallery .container .btns button.next:hover{ 
    transform: translate(1rem,0);   
}
section.mainGallery .container .btns button.disable{
    color: #5c5c5c;
}
section.mainGallery .container .btns button.disable:hover{
    transform: translate(0); 
}
section.mainGallery .container a{
    position: absolute;
    bottom: -1rem;
    font-weight: 500;
    left:50%;
    padding: .5rem 3rem;
    border-radius: 10px;
    transform: translate(-50%,0);
}
section.mainGallery .container a:hover{
    transform: translate(calc(-50% + .2rem),-.2rem);
}

section.contacts .container{
    display: flex;
    padding: 4rem 0 2rem;
}
section.contacts .container .name{
    font-size: 2rem;
    font-family: var(--font-2);
    text-align: center;
    margin-bottom: 1rem;
}
section.contacts .container .info,
section.contacts .container .map{
    flex: 1;
    display: flex;
    flex-direction: column;
}
section.contacts .container .info{
    margin-right: 2rem;
}
section.contacts .container .info ul.contacts,
section.contacts .container .info ul.hours{
    padding: 0;
}
section.contacts .container .info ul.hours{
    margin-top: 2rem;
}
section.contacts .container .info ul.contacts li:not(:first-child),
section.contacts .container .info ul.hours li:not(:first-child){
    margin-top: 1rem;
}
section.contacts .container .info ul.contacts li{
    display: flex;
    align-items: center;
}
section.contacts .container .info ul.contacts li img,
section.contacts .container .info ul.hours li img{
    width: 2rem;
    margin-right: 1rem;
}
section.contacts .container .info ul.contacts li a,
section.contacts .container .info ul.contacts li p,
section.contacts .container .info ul.hours li{
    color: var(--color-7);
    text-decoration: none;
    font-family: var(--font-2);
    font-size: 1.2rem;
    transition: all .4s ease;
    margin: 0;
}
section.contacts .container .info ul.contacts li a:hover{
    margin-left: .5rem;
}

section.contacts .container .info ul.hours li:not(:first-child) img{
    opacity: 0;
    visibility: hidden;
}
section.contacts .container .map__block{
    flex: 1 1 auto;
}
section.contacts .container .map iframe{
    width: 100%;
    height: 100%;
}

section.moreServices,
section.moreServices .container,
section.moreServices .container .service_row{
    display: flex;
    flex-direction: column;
}
section.moreServices .container .photo img{
    width: 100%;
}
section.moreServices .topic{
    background-image: url("../img/services/topic.jpg");
    background-size: cover;
    background-position: center;
}
section.moreServices .topic .container{
    display: flex;
    justify-content: center;
}
section.moreServices .topic .container .title{
    font-size: 3rem;
    color: var(--color-2);
    font-weight: 600;
    font-family: var(--font-2);
    letter-spacing: 1px;
    padding: 5rem 0;
    text-align: center;
}
section.moreServices .container .service_row:last-child{
    margin-bottom: 3rem;
}
section.moreServices .container .service_row .service_title{
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-1);
    margin-top: 3rem;
    padding-bottom: 2rem;
}
section.moreServices .container .service_row .services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
}
section.moreServices .container .service_row .services.mt{
    padding-top: 2rem;
}
section.moreServices .container .service_row .services .service{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    border-radius: 5px;
}
section.moreServices .container .service_row .services .service .price_row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem 1rem;
}
section.moreServices .container .service_row .services .service .photo_row{
    margin-bottom: .5rem;
    position: relative;
    min-height: 13rem;
    /* border-bottom: .1rem solid var(--color-4); */
    width: 100%;
    overflow: hidden;
}
section.moreServices .container .service_row .services .service .photo_row img{
    width: 100%;
    position: absolute;
    top: 0;
}
section.moreServices .container .service_row .services .service .price_row:not(:first-child){
    margin-top: .5rem;
}
section.moreServices .container .service_row .services .service .price_row .name{
    font-family: var(--font-2);
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #9f8b6b;
}
section.moreServices .container .service_row .services .service .price_row .price{
    font-family: var(--font-1);
    font-size: 1rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #9f8b6b;
    font-size: 1.2rem;
}

section.appointment .appointment__block{
    display: flex;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
section.appointment .appointment__block .info,
section.appointment .appointment__block .appointmentForm{
    flex: 1;
}
section.appointment .appointment__block .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.appointment .appointment__block .info a{
    text-align: center;
}
section.appointment .appointment__block .info a img{
    border-radius: 10px;
    margin-bottom: 2rem;
}
section.appointment .appointment__block .info .photo{
    text-align: center;
}
section.appointment .appointment__block .info .photo img{
    width: 54%;
    border-radius: 10px;
}
section.appointment .appointment__block .appointmentForm{
    margin-left: 2rem;
}
section.appointment .appointment__block .appointmentForm #wait{
    padding: .5rem;
    margin: 1rem 0 0;
    background-color: var(--color-5);
    color: var(--color-2);
    border-radius: 10px;
    display: none;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-2);
}
section.appointment .appointment__block .appointmentForm #wait.active{
    display: flex;
}
section.appointment .appointment__block .appointmentForm #wait img{
    width: 2rem;
}
section.appointment .appointment__block .appointmentForm h2{
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: var(--font-2);
}
section.appointment .appointment__block .appointmentForm form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}
section.appointment .appointment__block .appointmentForm form .formRow{
    display: flex;
    margin-bottom: 1rem;
}
section.appointment .appointment__block .appointmentForm form .formRow .inputBlock{
    display: flex;
    flex-direction: column;
}
section.appointment .appointment__block .appointmentForm form .formRow .inputBlock label{
    font-size: 1.3rem;
    font-family: var(--font-2);
    font-weight: 700;
    margin-bottom: .5rem;
}
section.appointment .appointment__block .appointmentForm form .formRow .inputBlock input,
section.appointment .appointment__block .appointmentForm form .formRow .inputBlock textarea{
    padding: .5rem .7rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-8);
}
section.appointment .appointment__block .appointmentForm form .formRow .inputBlock textarea{
    height: 10rem;
}
section.appointment .appointment__block .appointmentForm form .formRow .inputBlock:not(:last-child){
    margin-right: 2rem;
}
section.appointment .appointment__block .appointmentForm form .formRow:not(:last-child) .inputBlock{
    flex: 1;
}
section.appointment .appointment__block .appointmentForm form button{
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-family: var(--font-2);
}

section.team .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}
section.team .container .title{
    font-size: 4rem;
    color: var(--color-1);
    padding-top: 1rem;
    font-family: var(--font-1);
}
section.team .container .subtitle{
    font-size: 1.4rem;
    color: #9f8b6b;
    font-family: var(--font-2);
    font-weight: 300;
    margin-bottom: 1rem;
}
section.team .container .line{
    width: 5rem;
    height: .3rem;
    border-radius: 30px;
    background-color: var(--color-4);
}
section.team .container .teammates{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem
}
section.team .container .teammates .teammate{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .2rem solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    padding: 0 0 1rem;
}
section.team .container .teammates .teammate .photo{
    display: flex;
    position: relative;
    min-height: 18rem;
    width: 100%;
    overflow: hidden;
}
section.team .container .teammates .teammate .photo::after{
    position: absolute;
    content: "";
    width: 100%;
    border: 2rem solid #fff;
    border-left-color: transparent;
    border-top-color: transparent;  
    bottom: 0;
}
section.team .container .teammates .teammate .photo img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
}
section.team .container .teammates .teammate .name{
    font-family: var(--font-3);
    font-weight: 500;
    margin: 0;
    padding: 0 1.5rem;
}
section.team .container .teammates .teammate .line{
    margin: 1.5rem 0;
}
section.team .container .teammates .teammate .desc{
    margin: 0;
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}
section.team .container .teammates .teammate .media{
    display: flex;
    padding: 0 1.5rem;
}
section.team .container .teammates .teammate .media a{
    text-decoration: none;
    transition: all .5s ease;
}
section.team .container .teammates .teammate .media a:not(:first-child){
    margin-left: .5rem;
}
section.team .container .teammates .teammate .media a:hover{
    transform: translate(0,-.2rem);
}
section.team .container .teammates .teammate .media a img{
    width: 2rem;
}

main.message{
    background-image: url("../img/hello.jpg");
    position: relative;
    background-position: 50% 80%;
    display: flex;
    min-height: 30rem;
    position: relative;
    background-size: cover;
}
main.message .blur{
    background-color: rgba(255,255,255,.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
main.message .container{
    z-index: 2;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main.message .container .successBlock .head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px 10px 0 0;
}
main#success .container .successBlock .head{
    background-color: var(--color-4);
}
main#error .container .successBlock .head{
    background-color: var(--color-5);
}
main.message .container .successBlock .head img{
    width: 5rem;
}
main.message .container .successBlock .body{
    padding: 2rem;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    color: var(--color-2);
}
main.message .container .successBlock .body .congrats{
    font-size: 1.4rem;
    font-family: var(--font-2);
    text-align: center;
    margin: 0;
}
main.message .container .successBlock .body a{
    text-decoration: none;
    color: var(--color-7);
    font-weight: 500;
    padding: .5rem 0;
    width: 50%;
    text-align: center;
    transition: all .5s ease;
    margin-top: 1rem;
    border-radius: 30px;
    font-family: var(--font-2);
    background-color: var(--color-4);
}
main.message .container .successBlock .body a:hover{
    width: 60%;
}
main#error .container .successBlock .body h2{
    font-family: var(--font-2);
    font-size: 3.5rem;
    letter-spacing: 1px;
}
main#error .container .successBlock .body h3{
    font-family: var(--font-2);
}
main#error .container .successBlock .body p{
    font-family: var(--font-1);
    margin-top: .5rem;
}

main#signIn{
    min-height: 35rem;
}
main#signIn .container .form__block{
    padding: 0 2rem 2rem;
    background-color: var(--color-1);
    margin: 2rem 0;
    height: calc(100% - 4rem);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main#signIn .container .form__block .photo{
    text-align: center;
    margin: 2rem 0;
}
main#signIn .container .form__block .photo img{
    width: 50%;
    border-radius: 10px;
}
main#signIn .container .form__block .title{
    font-size: 2rem;
    margin:  0 0 1.5rem;
    padding: 0;
    padding-bottom: 1.5rem;
    color: var(--color-2);
    font-family: var(--font-2);
    border-bottom: .1rem solid rgba(255,255,255, 0.3);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}
main#signIn .container form{
    display: flex;
    flex-direction: column;
}
main#signIn .container form .formInput{
    display: flex;
    position: relative;
    flex-direction: column;
}
main#signIn .container form label{
    font-size: 1rem;
    color: var(--color-2);
    font-weight: 500;
    font-family: var(--font-2);
    margin-bottom: .5rem;
}
main#signIn .container form input{
    padding: .5rem 3.5rem;
    border-radius: 30px;
    border: none;
    margin-bottom: 1.5rem;
    position: relative;
    flex: 1 1 auto;
}
main#signIn .container form .formInput img{
    position: absolute;
    width: 2rem;
    bottom: 0;
    left: 1rem;
    transform: translate(0,-87%);
}
main#signIn .container form button{
    margin: 2rem auto 0;
    border: none;
    padding: .5rem 2rem;
    border-radius: 30px;
    font-family: var(--font-2);
    background-color: var(--color-3);
    font-weight: 500;
    transition: all .5s ease;
    color: var(--color-7);
}
main#signIn .container form button:hover{
    padding: .5rem 3rem;
}
main#signIn .container .form__block .signInError.error{
    margin-top: 1.1rem;
    background-color: var(--color-5);
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    color:  var(--color-2);
    font-family: var(--font-1);
    padding: .5rem;
    display: none;
}
main#signIn .container .form__block .signInError.error.active{
    display: unset;
}

main#admin{
    display: flex;
}
main#admin .container{
    display: flex;
    flex: 1 1 auto;
    min-height: 30rem;
}
main#admin aside{
    flex: 1;
    background-color: var(--color-1);
    margin: 1rem 0;
    border-radius: 10px 0 0 10px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
main#admin aside .logo img{
    border-radius: 10px;
}
main#admin aside ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: .5rem 0 0;
}
main#admin aside ul li{
    margin-top: .5rem;
}
main#admin .buttn{
    width: 100%;
    padding: .5rem 1rem;
    position: relative;
    border-radius: 10px;
    text-align: center;
    border: none;
    text-decoration: none;
    background-color: var(--color-4);
    color: var(--color-2);
    font-family: var(--font-2);
    transition: all .5s ease;
}
main#admin aside ul.actions{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}
main#admin aside ul.actions li{
    display: flex ;
}
main#admin .buttn img{
    top: 50%;
    transform: translate(0,-50%);
    left: 1rem;
    position: absolute;
    font-size: 1.5rem;
}
main#admin aside .logo{
    text-align: center;
    width: 100%;
}
main#admin aside .logo img{
    width: 60%;
}
main#admin section.content{
    flex: 3;
    margin: 1rem 0;
    background-color: #f4f6f9;
    border-radius: 0 10px 10px 0;
    padding: 1.5rem;
}
main#admin section.content .content__block {
    display: none;
    flex-direction: column;
    align-items: center;
}
main#admin section.content .content__block.active{
    display: flex;
}
main#admin section.content .content__block .title{
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-2);
    font-weight: 400;
    margin: 2rem 0;
}
main#admin section.content .content__block#getStarted h3{
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: var(--font-2);
    line-height: 2rem;
    text-align: center;
}
main#admin section.content .content__block#getStarted p{
    margin-top: 1rem;
    text-align: center;
}
main#admin section.content .btns{
    width: 25%;
    margin-top: 2rem;
}
main#admin section.content .btns button{
    margin-top: .5rem;
    width: 100%;
}
main#admin section.content table{
    background-color: var(--color-2);
    font-family: var(--font-1);
    font-size: .9rem;
    border-radius: 10px;
    overflow: hidden;
}
main#admin section.content table tr:not(:first-child){
    border-top: .05rem solid #e4e4e4;
}
main#admin section.content table thead tr td{
    font-weight: 500;
    font-family: var(--font-2);
}
main#admin section.content table tr td{
    border-bottom: none;
}
main#admin section.content table tr td.act{
    display: flex;
}
main#admin section.content table tr td a{
    text-decoration: none;
    border-radius: 10px;
    padding: .5rem;
    color: var(--color-5);
}
main#admin section.content table tr td a,
main#admin section.content table tr td button{
    transition: all .4s ease;
}
main#admin section.content table tr td a.view{
    padding: 0;
    margin-right: 1rem;
}
main#admin section.content table tr td a.view:hover{
    background: none;
}
main#admin section.content table tr td button{
    border: .05rem solid #e4e4e4;
    padding: 0;
    background: none;
}
main#admin section.content table tr td button img{
    opacity: 0;
    transition: all .4s ease-in;
}
main#admin section.content table tr td a:hover,
main#admin section.content table tr td button:hover,
main#admin section.content form#personalSettings a.passwordRecoveryOpen:hover{
    transform: translate(0,-.2rem);
}
main#admin section.content table tr td a:hover,
main#admin section.content form#personalSettings a.passwordRecoveryOpen:hover,
main#admin section.content .applicationAbout .applicationAbout__row a:hover{
    background-color: var(--color-5);
    color: var(--color-2);
}
main#admin section.content table tr td button:hover img{
    opacity: 1;
}
main#admin section.content table tr td img{
    width: 1.5rem;
}
main#admin section.content .paginationBtns{
    margin-top: 3rem;
    background-color: var(--color-3);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
main#admin section.content .paginationBtns button{
    color: var(--color-1);
    padding: .5rem 1rem;
    font-family: var(--font-4);
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
    border: none;
    background-color: var(--color-2);
}
main#admin section.content .paginationBtns button.noactive,
main#admin section.content .paginationBtns button.noactive:hover{
    background-color: #ddd;
}
main#admin section.content .paginationBtns button.noactive:hover{
    cursor: default;
    color: var(--color-1);
}
main#admin section.content .paginationBtns button:hover{
    background-color: var(--color-1);
    color: var(--color-2);
}
main#admin section.content .paginationBtns button:not(:first-child){
    border-left: .05rem solid #dddddd;
}
main#admin section.content form#settingsForm,
main#admin section.content form#personalSettings{
    display: flex;
    flex-direction: column;
    width: 100%;
} 
main#admin section.content form#settingsForm button,
main#admin section.content form#personalSettings button{
    margin: 1.5rem auto 0;
    width: unset;
}
main#admin section.content form#personalSettings a.passwordRecoveryOpen{
    margin: 0;
    transition: all .4s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-1);
    width: 50%;
}
main#admin section.content .content__block__child{
    display: flex;
    flex: 1 1 auto;
    background-color: var(--color-2);
    padding: .5rem 1rem;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
main#admin section.content .content__block__child.passwordRecovery{
    flex-direction: column;
    position: relative;
    background: none;
    padding: 0;
}
main#admin section.content .content__block__child.passwordRecovery .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--color-2);
    transition: all .7s ease;
    z-index: 2;
}
main#admin section.content .content__block__child.passwordRecovery .head.active{
    border-radius: 10px 10px 0 0;
}
main#admin section.content .content__block__child.passwordRecovery .head button{
    width: 50%;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery{
    padding-top: 1rem;
    transition: all .7s ease;
    z-index: -1;
    border-top: .05rem solid #f1f1f1;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-2);
    padding-bottom: 1rem;
    display: none;
    border-radius: 0 0 10px 10px;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery.active{
    display: unset;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery .inputBlock{
    display: flex;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery .inputBlock:not(:first-child){
    margin-top: 1rem;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery .inputBlock p{
    width: 50%;
    justify-content: center;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery .inputBlock p.error{
    color: red;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery .inputBlock .input{
    width: 25%;
    margin: 0 auto;
    position: relative;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery .inputBlock .input .passwordImg{
    font-size: 1.5rem;
    width: 1.7rem;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translate(0,-50%);
    display: none;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery .inputBlock .input .passwordImg.active{
    display: unset;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery input{
    width: 100%;
    padding-right: 2.2rem;
    border: .1rem solid transparent;
}
main#admin section.content .content__block__child.passwordRecovery .passwordRecovery input.error{
    border-color: red;
}
main#admin section.content .content__block__child.passwordRecovery button{
    width: 100%;
}
main#admin section.content .content__block__child:not(:first-child){
    margin-top: 1rem;
}
main#admin section.content .content__block__child p{
    margin: 0;
    font-family: var(--font-2);
    font-weight: 500;
    display: flex;
    align-items: center;
}
main#admin section.content .content__block__child p img,
main#admin section.content .content__block__child button img{
    width: 2rem;
    margin-right: 1rem;
}
main#admin section.content form#personalSettings a.passwordRecoveryOpen img{
    width: 1.5rem;
}
main#admin section.content .content__block__child input,
main#admin section.content .content__block__child textarea,
main#admin section.content form#personalSettings a.passwordRecoveryOpen{
    padding: .5rem;
    text-align: center;
    border: none;
    background-color: #00000008;
    border-radius: 10px;
    font-family: var(--font-1);
}
main#admin section.content .content__block__child input,
main#admin section.content .content__block__child textarea{
    width: 50%;
}
main#admin section.content .content__block__child textarea{
    min-height: 10rem;
    text-align: left;
    padding: 1rem;
}
main#admin section.content .applicationAbout{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main#admin section.content .applicationAbout .applicationAbout__row{
    margin-top: 1rem;
    background-color: var(--color-2);
    color: var(--color-1);
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 10px;
    align-items: flex-start;
}
main#admin section.content .applicationAbout .applicationAbout__row p,
main#admin section.content .applicationAbout .applicationAbout__row a{
    margin: 0;
    font-family: var(--font-1);
    font-size: 1.2rem;
}
main#admin section.content .applicationAbout .applicationAbout__row a{
    text-decoration: none;
    padding: .5rem;
    border-radius: 10px;
    transition: all .5s ease;
    color: var(--color-5);
}
main#admin section.content .applicationAbout .applicationAbout__row p:first-child{
    font-weight: 700;
}
main#admin section.content .applicationAbout .applicationAbout__row p:last-child{
    margin: 0 .5rem 0 2rem;
    max-width: 75%;
    overflow-wrap: anywhere;
}
main#admin section.content .applicationAbout .applicationAbout__row.submit{
    justify-content: center;
    background: none;
    padding: 0;
}
main#admin section.content .applicationAbout .applicationAbout__row.submit img{
    width: 3rem;
}
main#admin section.content .applicationAbout .applicationAbout__row.submit button{
    padding: .5rem 2rem;
    color: var(--color-2);
    background-color: #54e03f;
    border-radius: 10px;
    font-weight: 600;
    font-family: var(--font-1);
    font-size: 1.2rem;
    border: none;
}

footer{
    background-color: var(--color-7);
}
footer .container{
    display: flex;
    padding: 2rem 0;
}
footer .container .info,
footer .container .contact,
footer .container .work,
footer .container .menu{
    flex: 1;
    padding: 0 1.5rem;
    color: var(--color-2);
    /* border-right: .05px solid #414141; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .container .head{
    font-family: var(--font-3);
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: .3rem;
    border-bottom: .25rem solid var(--color-4);
    margin: 0;
}
footer .container ul{
    padding: 0;
    border-top: .05rem solid #414141;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer .container .menu{
    padding: 0 0 0 1.5rem;
    border: none;
}
footer .container .info{
    padding: 0 1.5rem 0 0;
}
footer .container .info .logo{
    margin-bottom: 1rem;
}
footer .container .info .text{
    font-family: var(--font-2);
    font-size: .9rem;
}
footer .container .info .logo img{
    border-radius: 10px;
}
footer .container .contact ul.body li{
    margin-top: .6rem;
    display: flex;
    align-items: center;
}
footer .container .contact ul.body li a,
footer .container .contact ul.body li p{
    color: var(--color-2);
    text-decoration: none;
    margin: 0 0 0   .5rem;
    transition: all .7s ease;
    font-size: 1rem;
}
footer .container .contact ul.body li a:hover{
    margin-left: 1rem;
}
footer .container .contact ul.body li img{
    width: 2rem;
}
footer .container .work ul.body li{
    margin-top: .5rem;
}
footer .container .menu ul.body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
footer .container .menu ul.body li{
    margin-top: .5rem;
    display: flex;
}
footer .container .menu ul.body li a{
    color: var(--color-2);
    flex: 1 1 auto;
    text-decoration: none;
    transition: all .7s ease;
}
footer .container .menu ul.body li a:hover{
    transform: translate(.2rem,-.2rem);
}